* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

body {
    background-color: rgb(21, 52, 73);
}

header {
    margin: 0%;
    padding: 0%;
    position: inherit;
}

.cabecalho_info {
    overflow: hidden;
    width: 100%;
    height: 80px;
    position: fixed;
}

.cabecalho_info img{
    width: 61px;
    float: left;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.cabecalho_info h1{
    font-size: 30px;
    font-family: 'Microsoft YaHei UI', sans-serif;  
    font-weight: 400;
    margin: 0%;
    padding: 0%;
    float: left;
    margin-top: 25px;
    color: aliceblue;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}
main .registro-container {
    background-color: rgb(252, 252, 252);
    width: 450px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
main .registro-container .registro-container-info h1 {
    text-align: center;
    margin-top: 30px;
    color: rgb(88, 88, 87);
}

main .registro-container .registro-container-info form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

main .registro-container .registro-container-info form input {
    width: 130%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: rgba(109, 108, 108, 0.562);
}

main .registro-container .registro-container-info form input::placeholder {
    color: rgb(116, 114, 114);
    font-size: 16px;
}

main .registro-container .registro-container-info form button {
    width: 130%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(21, 52, 73);
    color: aliceblue;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

main .registro-container .registro-container-info span a:hover {
    text-decoration: underline;
}

/* media screen desktop */
@media only screen and (min-width: 977px) {
    main {
        min-height: 50vh;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }
}

/* media screen mobile */
@media only screen and (max-width: 977px) {
    .cabecalho_info h1 {
        font-size: 21px;
    }

    main {
        min-height: 50vh;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

/* Redimensionar  Formulario de Login */

@media only screen and (max-width: 470px){
    main .registro-container {
        width: 445px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 460px){
    main .registro-container {
        width: 440px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 447px){
    main .registro-container {
        width: 430px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 425px){
    main .registro-container {
        width: 400px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 400px){
    main .regsitro-container {
        width: 380px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 388px){
    main .registro-container {
        width: 370px
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 370px){
    main .registro-container {
        width: 360px
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 361px){
    main .registro-container {
        width: 340px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 344px){
    main .registro-container {
        width: 320px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 322px){
    main .registro-container {
        width: 300px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}

@media only screen and (max-width: 299px){
    main .registro-container {
        width: 280px;
        margin-top: 30px;
        position: fixed;
    }

    main .registro-container .registro-container-info form button {
        max-width: 310px;
    }

    main .registro-container .registro-container-info form input {
        max-width: 310px;
    }
}